.App {
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.form-container{
  /* border: 1px solid red; */
  min-width: 320px;
  max-width: 600px;
}

.form-container form{
width: 80%;
margin: auto;
}

.form-control{
  margin-bottom: 1rem;
}
